{% extends "teachers/base.html" %}
{% block content %}
<!-- Search Form -->
 <form class="form-inline my-2 my-lg-0" method="GET" action=".">
     <div class="col-md-12 text-center">
          <br>
         <input class="form-control mr-sm-2" type="search" name="first_name_contains" placeholder="First Name" aria-label="Search">
         <input class="form-control mr-sm-2" type="search" name="last_name_contains" placeholder="Last Name" aria-label="Search">
         <input class="form-control mr-sm-2" type="search" name="subject" placeholder="Subject" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </div>
 </form>
<!-- End Search Form -->

<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
                <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">First Name</th>
                          <th scope="col">Last Name</th>
                          <th scope="col">Email</th>
                            <th scope="col">Subject</th>
                        </tr>
                      </thead>
                        {% for teacher in queryset %}
                      <tbody>
                        <tr>
                          <td>{{ teacher.first_name }}</td>
                          <td>{{ teacher.last_name }}</td>
                          <td>{{ teacher.email }}</td>
                           <td>
                                {% for p in teacher.subject_set.all %}
                                    {{ p.subject }} |
                                {% endfor %}
                           </td>
                            <td>
                                <a role="button" class="btn btn-outline-info btn-sm" href="{% url 'viewteacher' teacher.id %}">View</a>
                            </td>
                        </tr>
                      </tbody>
                    {% endfor %}
                </table>
            <!-- pagination-->
                <div class="pagination">
                    <span class="step-links">
                        {% if queryset.has_previous %}
                            <a href="?page=1">First</a>
                            <a href="?page={{ queryset.previous_page_number }}">Previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
                        </span>

                        {% if queryset.has_next %}
                            <a href="?page={{ queryset.next_page_number }}">Next</a>
                            <a href="?page={{ queryset.paginator.num_pages }}">Last</a>
                        {% endif %}
                    </span>
                </div>
            <!-- End pagination-->
        </div>
</div>



{% endblock %}


